<div class="container">
    <section>
        <label>Listado de Pokemon</label><br>
        <input type="text" [(ngModel)]="nameSearch" class="icon-search" (keyup)="clickOnButtonSearch()"
            placeholder="Buscar">
        <button id="buttonNew" class="right" type="button" (click)="clickOnButtonNew()">
            <img class="icon" src="{{iconSrc}}/plus.svg">
            Nuevo
        </button>
    </section>

    <section>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Ataque</th>
                    <th>Defensa</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listPokemons">
                    <td>{{item.name}}</td>
                    <td class="center"><img src="{{item.image}}" width="45px"></td>
                    <td>{{item.attack}}</td>
                    <td>{{item.defense}}</td>
                    <td class="center">
                        <img class="icon-actions" alt="Editar" src="{{iconSrc}}/edit.svg"
                            (click)="onClickButtonEdit(item.id)">
                        <img class="icon-actions" alt="Eliminar" src="{{iconSrc}}/trash.svg"
                            (click)="onClickButtonDelete(item.id)">
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section>
        <div *ngIf="viewModalNew" class="card">
            <div class="card-body">
                <h3 class="center">{{titleModal}}</h3>
                <form [formGroup]="form">
                    <div class="row space justify-center">
                        <div class="align-data">
                            <label>Nombre:</label>
                            <input type="text" formControlName="name" required>
                        </div>
                        <label>Ataque:</label>
                        0<input type="range" max="100" formControlName="attack">100
                    </div>

                    <div class="row space justify-center">
                        <div class="align-data">
                            <label>Imagen:</label>
                            <input type="text" formControlName="image">
                        </div>
                        <label>Defensa:</label>
                        0 <input type="range" max="100" formControlName="defense"> 100
                    </div>

                    <div class="row justify-center">
                        <div class="align-data">
                            <label>Type:</label>
                            <select formControlName="type">
                                <option value="normal">Normal</option>
                                <option value="fire">Fire</option>
                                <option value="water">Water</option>
                                <option value="bug">Bug</option>
                                <option value="poison">Poison</option>
                            </select>
                        </div>
                        <label>Hp:</label>
                        0 <input type="range" max="100" formControlName="hp"> 100
                    </div>

                    <div class="row footer">
                        <button id="saveButton" class="right" type="button" (click)="onClickSaveButton()"
                            [disabled]="!form.valid">
                            <img class="icon" src="{{iconSrc}}/save.svg">Guardar
                        </button>
                        <button id="cancelButton" class="right" type="button" (click)="onClickCancelButton()">
                            <img class="icon" src="{{iconSrc}}/cancel.svg">Cancelar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </section>
</div>