.container{
  padding: 24px 35px;
}

section{
  margin-bottom: 40px;
}

form{
  width: 100%;
  padding: 12px 0px
}

.left{
  float: left;
}

.right{
  float: right;
} 

.center{
  text-align: center;
}

.icon-search {
  padding-left: 25px;
  margin-top: 7px;
  background: url("/assets/icons/find.svg") no-repeat left;
  background-size: 20px;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid #b2adad;
  border-collapse: collapse;
}

td{
  padding-left: 10px;
}

tr {
  height: 40px;
}

.icon{
  filter: invert(100%); 
  width:23px;
  height:12px;
}

.icon-actions{
  filter: opacity(0.4) drop-shadow(0 0 0 blue); 
  width:32px;
  height:12px;
}

button {
  color: white;
  background-color: #2117e6bf;
  padding: 6px 24px;
  border-radius: 3px;
  border: 1px solid #9487d5;
  margin-left: 15px;
  margin-right: 15px;
  cursor:  pointer;
}

button:disabled, button[disabled]{
  border: 1px solid #999999;
  background-color: #2117e629;
  color: #2117e629;
  cursor:not-allowed;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-bottom: 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 2px 16px;
}

.justify-center {
  display: flex;justify-content: center;
}

.align-data{
  width: 50%;display: inline-table;
}

label{
  text-align: left;
  margin-right:10px;
  width: 70px;
}

input {
  padding: 5px 10px;
  border: 1px solid #b7b7b7;
}

input[type="range"]{
  margin: -5px 11px 2px 11px;
  accent-color: #5952ed;;
}

input:invalid {
  border-color: #ab0c0c;
}

select {
  padding: 5px;
  margin-left: 17px;
  width: 160px; 
  border-color: #b7b7b7;
}

.space{
  padding-bottom: 15px;
}

.footer{
  display: flex;
  justify-content: center;
  padding-top: 28px;
}